  <script>
var mystyle = {
    sheetid: 'My Big Table Sheet',
    headers: true,
    caption: {
      title: 'My Big Table',
      style: 'font-size: 50px; color:blue;' // Sorry, styles do not works
    },
    style: 'background:#00FF00',
    column: {
      style: 'font-size:30px'
    },
    columns: [{
        columnid: 'email'
      },
      {
        columnid: 'dob',
        title: 'Birthday',
        width: 300
      },
      {
        columnid: 'name'
      },
      {
        columnid: 'name',
        title: 'Number of letters in name',
        width: '300px',
        cell: {
          value: function(value) {
            return value.length
          }
        }
      },
    ],
    row: {
      style: function(sheet, row, rowidx) {
        return 'background:' + (rowidx % 2 ? 'red' : 'yellow');
      }
    },
    rows: {
      4: {
        cell: {
          style: 'background:blue'
        }
      }
    },
    cells: {
      2: {
        2: {
          style: 'font-size:45px;background:pink',
          value: function(value) {
            return value.substr(1, 3);
          }
        }
      }
    }
  };
  </script>